@charset "utf-8";
/* CSS Document */
.box{
	width: 480px;
	max-width: 640px;
	background-color:white;
	vertical-align:top;
	display:inline-block;
	align-content:center;
	border:1px;
	padding:10px;
	margin:3px;
}
table{
	width:90%;
	border-spacing:0px 10px;border-collapse:separate;
}
td{
	padding-left:10px;
	text-align:start;
	min-width:150px;
}
input{
	width:95%;
}
